// https://www.w3schools.com/css/css_intro.asp 
// .scss files are basically plain .css files, with a slight twist:
// note that the nesting structure does have meaning!
// http://thesassway.com/beginner/the-inception-rule

.board-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px solid red;
    
    .board {
        transition: 0.5s opacity ease;
        align-self: center;

        .board-row {
            display: flex;
            flex-direction: row;        
        }

        .board-warning {
            color: white;
            align-self: center;
        }

    }

    .drag-target {
        z-index: 1;
        border-radius: 25%;
        width: 70px;
        height: 70px;
        align-self: center;
        background: white;
        padding: 10px;
        border: 2px solid red;
        margin-right: 50px;
        display: flex;
        justify-content: center;

        .drag-hand {
            pointer-events: none;
            align-self: center;
            width: 50px;
            height: 50px;
            -webkit-user-select: none; /* Chrome/Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */
        }
    }

}