.square {
    background-color: red;
    justify-content: center;
    background-color: red;
    margin: 5px;
    display: flex;
    transition: 0.5s opacity ease;

    .letter {
        align-self: center;
        pointer-events: none;
    }
}