.passive {
    /* Chrome/Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+ */
    -ms-user-select: none;
}

.square {
    justify-content: center;
    margin: 5px;
    display: flex;
    transition: 0.5s opacity ease;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;

    .letter {
        align-self: center;
        pointer-events: none;
    }
}