// https://www.w3schools.com/css/css_intro.asp 
// .scss files are basically plain .css files, with a slight twist:
// note that the nesting structure does have meaning!
// http://thesassway.com/beginner/the-inception-rule

.outer {
    display: flex;
    justify-content: center;
    
    .slider {
        width: calc(100% - 40px);
        height: 20px;
        position: absolute;
        margin: 0;
        padding: 0;
        background: red;
        bottom: 10px;
        border-radius: 20px;
        align-self: center;
    }

}