.square {
    background-color: red;
    justify-content: center;
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    transition: 0.5s opacity ease;

    .letter {
        width: 100px;
        height: 100px;
        align-self: center;
    }
}